@using MarkRestaurant.Models
@using MarkRestaurant.Data;
@using MarkRestaurant.Data.Repository;
@inject DashboardRepository dashboardRepository;

@{
    var todayfinishedOrders = dashboardRepository.GetTodayFinishedOrdersAsync().Result;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/admin/admin-today-finished-orders.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Today Finished Orders</title>
</head>
<body>
    <div class="navbar">
        <div class="nav-item">
            <form asp-controller="Navigation" asp-action="AdminDashboard" method="post">
                <button type="submit">
                    <i class="fas fa-tachometer-alt"></i> Dashboard
                </button>
            </form>
        </div>
        <div class="nav-item">
            <form asp-controller="Navigation" asp-action="AdminUsers" method="post">
                <button type="submit">
                    <i class="fas fa-users"></i> Users
                </button>
            </form>
        </div>
        <div class="nav-item">
            <form asp-controller="Navigation" asp-action="AdminMenu" method="post">
                <button type="submit">
                    <i class="fas fa-boxes"></i> Menu
                </button>
            </form>
        </div>
    </div>
    <a asp-controller="Home" asp-action="Index" class="exit-button">Exit</a>

    <div class="orders-container">
        <h1 class="orders-title">Finished Orders</h1>

        @if (todayfinishedOrders != null && todayfinishedOrders.Any())
        {
            <table class="orders-table">
                <thead>
                    <tr>
                        <th>Full Name</th>
                        <th>Title</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Completed At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var finishedOrder in todayfinishedOrders)
                    {
                        <tr>
                            <td>@finishedOrder.User.Name @finishedOrder.User.Surname @finishedOrder.User.MiddleName</td>
                            <td>@finishedOrder.Product.Title</td>
                            <td>@finishedOrder.Quantity</td>
                            <td>@(finishedOrder.Product.Price * finishedOrder.Quantity)</td>
                            <td>@finishedOrder.CompletedAt.ToString("g")</td>
                            <td>
                                <form asp-controller="Admin" asp-action="DeleteFinishedOrder" method="post" style="display:inline;">
                                    <input type="hidden" name="finishedOrderId" value="@finishedOrder.Id" />
                                    <button type="submit" style="color: black" class="delete-button">X</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p style="text-align: center; color: #b3a4a4; font-size: 14px; margin-top: 30px;">There are no finished orders today.</p>
        }
    </div>
</body>
</html>
