@{
    ViewData["Title"] = "UserEdit";
}
@model User
@using MarkRestaurant.Helpers

<!DOCTYPE html>
<html>
<head>
    @Html.Partial("~/Views/Shared/Sections/_Head.cshtml")
    <link href="~/css/user-edit.css" rel="stylesheet" />
</head>
<style>
    .disabled-nav {
        pointer-events: none;
        opacity: 0.5;
    }

    hr {
        border-color: #444444;
    }
</style>
<body class="sub_page">
    <div style="margin-bottom: 18px;" class="hero_area">
        <div class="bg-box">
            <img src="~/images/hero-bg.jpg" alt="">
        </div>
        <header class="header_section">
            @Html.Partial("~/Views/Shared/Sections/_Header.cshtml")
        </header>
    </div>
    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm justify-content-center">
                <div class="col-md-10">
                    <div class="card mb-3 bg-secondary text-white border-0">
                        <div class="card-body bg-dark p-4">
                            <form asp-controller="User" asp-action="Save" method="post">
                                <div class="form-group d-flex align-items-center mb-3">
                                    <label class="col-sm-3" style="flex: 0 0 30%; margin: 0;">Name</label>
                                    <div class="col-sm-9 text-secondary" style="flex: 1;">
                                        <input type="text" asp-for="Name" class="form-control" placeholder="Enter name" value="@Model.Name">
                                    </div>
                                </div>
                                <hr class="border-dark" />
                                <div class="form-group d-flex align-items-center mb-3">
                                    <label class="col-sm-3" style="flex: 0 0 30%; margin: 0;">Surname</label>
                                    <div class="col-sm-9 text-secondary" style="flex: 1;">
                                        <input type="text" asp-for="Surname" class="form-control" placeholder="Enter surname" value="@Model.Surname">
                                    </div>
                                </div>
                                <hr class="border-dark" />
                                <div class="form-group d-flex align-items-center mb-3">
                                    <label class="col-sm-3" style="flex: 0 0 30%; margin: 0;">Middle Name</label>
                                    <div class="col-sm-9 text-secondary" style="flex: 1;">
                                        <input type="text" asp-for="MiddleName" class="form-control" placeholder="Enter middle name" value="@Model.MiddleName">
                                    </div>
                                </div>
                                <hr class="border-dark" />
                                <div class="form-group d-flex align-items-center mb-3">
                                    <label class="col-sm-3" style="flex: 0 0 30%; margin: 0;">Age</label>
                                    <div class="col-sm-9 text-secondary" style="flex: 1;">
                                        <input type="text" asp-for="Age" class="form-control" placeholder="Enter age" value="@Model.Age">
                                    </div>
                                </div>
                                <hr class="border-dark" />
                                <div class="form-group d-flex align-items-center mb-3">
                                    <label class="col-sm-3" style="flex: 0 0 30%; margin: 0;">Phone Number</label>
                                    <div class="col-sm-9 text-secondary" style="flex: 1;">
                                        <input type="text" asp-for="PhoneNumber" class="form-control" placeholder="Enter phone number" value="@Model.PhoneNumber">
                                    </div>
                                </div>
                                <hr class="border-dark" />
                                <input type="hidden" name="email" value="@Model.UserName" />
                                <button class="btn btn-info" type="submit" disabled id="save-button" style="border-radius: 50px;">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <footer class="footer_section">
        @Html.Partial("~/Views/Shared/Sections/_Footer.cshtml")
    </footer>


    @Html.Partial("~/Views/Shared/Sections/_Scripts.cshtml")
    <script>
        function checkForm() {
            const inputs = document.querySelectorAll('.form-control');
            let allFilled = true;

            inputs.forEach(input => {
                if (input.value.trim() === '') {
                    allFilled = false;
                }
            });

            document.querySelector('.btn-info').disabled = !allFilled;
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            checkForm();
            const inputs = document.querySelectorAll('.form-control');

            inputs.forEach(input => {
                input.addEventListener('input', checkForm);
            });
        });

        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById("save-button").addEventListener("click", function (event) {
                event.preventDefault();

                const disabledButtons = document.querySelectorAll('.disabled-nav');
                disabledButtons.forEach(button => {
                    button.classList.remove('disabled-nav');
                    button.style.pointerEvents = 'auto';
                    button.style.opacity = '1';
                });
            });
        });
    </script>
</body>
</html>