@model User
@using Microsoft.AspNetCore.Mvc.Rendering

<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("~/Views/Shared/Sections/_Head.cshtml")
    </head>

    <body class="sub_page">
        <div class="hero_area">
            <div class="bg-box">
                <img src="~/images/hero-bg.jpg" alt="">
            </div>
            <header class="header_section">
                <div class="container">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <form asp-controller="Navigation" asp-action="LIndex" method="post" class="navbar-brand-form">
                            <input type="hidden" name="email" value="@Model.UserName" />
                            <button type="submit" class="navbar-brand-btn">
                                <span style="font-family: 'Dancing Script', cursive; font-size: 35px;">
                                    MarkRestaurant
                                </span>
                            </button>
                        </form>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mx-auto">
                                <li class="nav-item">
                                <form asp-controller="Navigation" asp-action="LIndex" method="post" class="d-inline">
                                        <input type="hidden" name="email" value="@Model.UserName" />
                                        <button type="submit" class="nav-link btn btn-link">Home</button>
                                    </form>
                                </li>
                                <li class="nav-item">
                                <form asp-controller="Navigation" asp-action="LMenu" method="post" class="d-inline">
                                        <input type="hidden" name="email" value="@Model.UserName" />
                                        <button type="submit" class="nav-link btn btn-link">Menu</button>
                                    </form>
                                </li>
                                <li class="nav-item">
                                <form asp-controller="Navigation" asp-action="LAbout" method="post" class="d-inline">
                                        <input type="hidden" name="email" value="@Model.UserName"/>
                                        <button type="submit" class="nav-link btn btn-link">About</button>
                                    </form>
                                </li>
                                <li class="nav-item active">
                                <form asp-controller="Navigation" asp-action="LBookTable" method="post" class="d-inline">
                                        <input type="hidden" name="email" value="@Model.UserName" />
                                        <button type="submit" class="nav-link btn btn-link">Book Table<span class="sr-only">(current)</span></button>
                                    </form>
                                </li>
                            </ul>
                            <div class="user_option">
                                @Html.Partial("~/Views/Shared/Logs/_LUser.cshtml")
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>

        <section class="book_section layout_padding">
            @Html.Partial("~/Views/Shared/NotLogs/_Book.cshtml")
        </section>

        <footer class="footer_section">
            @Html.Partial("~/Views/Shared/Sections/_Footer.cshtml")
        </footer>

        @Html.Partial("~/Views/Shared/Sections/_Scripts.cshtml")
    </body>
</html>