@model User
@using Microsoft.AspNetCore.Mvc.Rendering

<!DOCTYPE html>
<html>
    <head>
        @Html.Partial("~/Views/Shared/Sections/_Head.cshtml")
    </head>
    <body class="sub_page">
        <div class="hero_area">
            <div class="bg-box">
                <img src="~/images/hero-bg.jpg" alt="">
            </div>

            <header class="header_section">
                <div class="container">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                            <span style="font-family: 'Dancing Script', cursive; font-size: 35px;">
                                MarkRestaurant
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  mx-auto ">
                                <li class="nav-item ">
                                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="Menu">Menu</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Home" asp-action="About">About</a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" asp-controller="Home" asp-action="BookTable">Book Table<span class="sr-only">(current)</span> </a>
                                </li>
                            </ul>
                            <div class="user_option">
                                @Html.Partial("~/Views/Shared/NotLogs/_User.cshtml")
                            </div>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
    
        <section class="book_section layout_padding">
            @Html.Partial("~/Views/Shared/NotLogs/_Book.cshtml")
        </section>

        <footer class="footer_section">
            @Html.Partial("~/Views/Shared/Sections/_Footer.cshtml")
        </footer>

        @Html.Partial("~/Views/Shared/Sections/_Scripts.cshtml")
    </body>
</html>
